.titlepage { 
  background-image: url('images/arcade.webp') ; 
	background-repeat: no-repeat;
  	background-size: 100% 100% !important;
  }


.titlepage H1 {
  color: white;
  font-size:5em !important;
}



.section H1 { 
  color: white; 
  font-family: "Arial";
  font-size: 30em;
  font-style: normal;
  padding-top: 20pt;
  padding-left: 20pt !important;
  margin-bottom: 10% !important;
  background-color: rgba(255, 0, 0, 0.4) !important;
  border: none;
  width: 100%;

}

.section {
    background-image: url('abstract-violet.jpg') ; 
	background-repeat: no-repeat;
  	background-size: 100% 100%;
    padding: 0px !important;

}

.author {
color: white;
margin-top: 6em;
text-align: right; 
}

.section div {
  width: 100%;
  margin: 0px;
  padding: 0px;
}

.section p {
  color: white; 
 margin: 0em auto 0px auto;
 width: 90% ;
}

iframe {
  width: 80%;
  height: 600px !important;
}


.section table {
  color: white;
  width: 50%;
  margin: 0px;
}

.section img {
margin-left: 10pt;
margin-right: 10pt;
}


.note {
background-color: rgba(0,0,0,0.85);
width: 50% !important;
height: 5em !important;
margin: 0px !important;
padding: 1em;
border-top-right-radius: 10pt;
}


#dominique, #pierre { background-image: url("abstract-violet-night.jpg"); }


#insert-coin { background-image: url("images/insert_coin.webp");}
#warning-low-health { background-image: url("images/low-health.webp");}
#game-over { background-image: url("images/gameover.webp"); }


#mot-de-passe, #mot-de-passe-1 { background-image: url("images/abstract-violet-pierre.jpg");}
#mise-à-jour, #mise-à-jour-1 { background-image: url("images/abstract-violet-dde.jpg");}
#droit-dadmin, #droit-dadmin-1 { background-image: url("images/abstract-violet-dde.jpg");}
#sur-le-réseaux, #sur-le-réseaux-1 { background-image: url("images/abstract-violet-pierre.jpg");}
#prod-toujours, #prod-toujours-1 { background-image: url("images/abstract-violet-dde.jpg");}
#fraude-telephonique, #fraude-telephonique-1 { background-image: url("images/abstract-violet-pierre.jpg");}
#mysql, #mysql-1{ background-image: url("images/abstract-violet-dde.jpg");}
#rm-save, #rm-save-1 { background-image: url("images/abstract-violet-dde.jpg");}
#déclarer-ou-pas-déclarer, #déclarer-ou-pas-déclarer-1 { background-image: url("images/abstract-violet-pierre.jpg");}
#mdr-team, #mdr-team-1 { background-image: url("images/abstract-violet-dde.jpg");}
#gestion-dincident, #gestion-dincident-1 { background-image: url("images/abstract-violet-dde.jpg");}
#le-blackberry-perdu, #le-blackberry-perdu-1 { background-image: url("images/abstract-violet-pierre.jpg");}
#recovery, #recovery-1 { background-image: url("images/abstract-violet-dde.jpg");}
#phishing, #phishing-1 { background-image: url("images/abstract-violet-pierre.jpg");}
